
<style>
body {margin: 0; padding: 0; }
#myDiv { position: absolute; top: 0; bottom: 0; width: 100%;
}
</style>
<head>
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
</head>
<body>
	<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
    <script> 
        var data = [{{ range $v:= .Regions }}
        {
            type: "scattergeo", 
            lon: [{{ $v.Region.Longitude }}], 
            lat: [{{ $v.Region.Latitude }}],
            marker: {
                size: {{ $v.UsagePercent }}, 
                opacity: 0.8,
                line: {
                    color: 'black',
                    width: 1
                }
            },
            name: "{{ $v.Region.Location }} ({{$v.Region.Code}})",
            hoverinfo: 'text',
            text: "{{ $v.Region.Location }} ({{$v.Region.Code}})<br>Regional: {{ $v.DataTransferRegional.UsageQuantity }} {{ $v.DataTransferRegional.UsageQuantityUnit }} ({{ $v.DataTransferRegional.BlendedCost }} {{ $v.DataTransferRegional.BlendedCostUnit }})<br>In: {{ $v.DataTransferIn.UsageQuantity }} {{ $v.DataTransferIn.UsageQuantityUnit }} ({{ $v.DataTransferIn.BlendedCost }} {{ $v.DataTransferIn.BlendedCostUnit }})<br>Out: {{ $v.DataTransferOut.UsageQuantity }} {{ $v.DataTransferOut.UsageQuantityUnit }} ({{ $v.DataTransferOut.BlendedCost }} {{ $v.DataTransferOut.BlendedCostUnit }})",
            mode: "markers",
            textposition: "top center",
        },
        {{ end }}
        {{ range $c:= .Costs }} 
        {
            type: "scattergeo",
            lon: [  {{ $c.SourceRegion.Longitude }} , {{ $c.DestinationRegion.Longitude }} ],
            lat: [ {{ $c.SourceRegion.Latitude }} , {{ $c.DestinationRegion.Latitude }} ],
            mode: 'lines',
            hoverinfo: 'text',
            text: "{{ $c.SourceRegion.Location }} -> {{ $c.DestinationRegion.Location }}<br>Name: {{ $c.Name }}<br>Usage: {{ $c.UsageQuantity }} {{ $c.UsageQuantityUnit }} ({{ $c.BlendedCost }} {{ $c.BlendedCostUnit }})",
            line: {
                width: 1
            },
            opacity: {{ $c.Opacity }},
            name: "{{ $c.Name }}"
        },
        {{- end }}
        ];

        //open-street-map, white-bg, carto-positron, carto-darkmatter, stamen-terrain, stamen-toner, stamen-watercolor
        var layout = {
            font: {
                family: 'Droid Serif, serif',
                size: 8
            },
            title: 'AWS Data Transfers',
            dragmode: 'zoom',
            showlegend: true,
            //mapbox: {style:"carto-positron",zoom: 2, center: { lat: 32, lon: 0 }},
            geo: {
                coastlinewidth: 0.1,
                countrywidth: 0.2,
                resolution: 80,
                showland: true,
                landcolor: '#EAEAAE',
                countrycolor: '#d3d3d3',
                subunitcolor: '#d3d3d3'
            }   
        };
        
        Plotly.newPlot("myDiv", data, layout, {showLink: false,scrollZoom: true});
    </script>
</body>